<mat-card>
  <mat-card-header>
    <img mat-card-avatar src="https://images.vexels.com/media/users/3/189702/isolated/lists/0909c4a72562b45eb247012f1606c4c6-icono-de-juguete-de-dados.png">
    <mat-card-title>Generator {{generatorNumber + 1}}</mat-card-title>
    <mat-card-subtitle>{{subtitle}}</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <mat-label class="number" *ngIf="!generator.typeGenerator.isNormal()">{{number}}</mat-label>
    <div *ngIf="generator.typeGenerator.isNormal()">
      <mat-label class="number" *ngFor="let num of getListNumber()">{{num}}</mat-label>
    </div>
    <div align="end">
      <button align="end" mat-button (click)="generateNumber()">Next</button>
      <button align="end" mat-button (click)="generateNumbers()">Next n</button>
    </div>
    <div style="display: block; width: 800px; height: 400px;">
      <canvas
      baseChart
      [datasets]="barChartData.datasets"
      [labels]="barChartData.labels"
      type="bar"
      [options]="chartOptions"
      >
      </canvas>
    </div>

  </mat-card-content>
  <mat-card-actions>
    <button mat-button (click)="generateNumber()">Next</button>
    <button mat-button (click)="generateNumbers()">Next n</button>
  </mat-card-actions>
</mat-card>
