.mat-card{
  margin-bottom: 50px;
}

.number{
  font-size: 50px;
  display: block;
  text-align: center;
  padding: 50px 0;
}

.inline{
  display: inline-block;
}

.mat-column-interval{
  width: 50%;
}
.mat-column-ammount{
  width: 50%;
}
.table-ammounts{
  max-height: 400px;
  width: 30%;
  overflow-y: scroll;
}
.mat-column-interval{
  width: 40%;
}
.mat-column-ammount{
  width: 23%;
}
.mat-column-expected{
  width: 23%;
}
.mat-column-error{
  width: 14%;
}
.mat-column-error-percentage{
  width: 14%;
}
.table-ammounts::-webkit-scrollbar{
  background-color: white;
  width: 4px;
}
.table-ammounts::-webkit-scrollbar-thumb{
  background-color: black;
  width: 2px;
}
