.mat-card{
  margin-bottom: 50px;
}

.number{
  font-size: 50px;
  display: block;
  text-align: center;
  overflow: scroll;
  padding: 50px 0;
}

.mat-column-interval{
  width: 50%;
}
.mat-column-ammount{
  width: 50%;
}
.table-ammounts{
  max-height: 400px;
  overflow-y: scroll;
  overflow-x: scroll;
  width: 80%;
  margin: 20px auto;
  border: 1px solid #cdcdcd;
  border-radius: 1px;
}
.mat-column-interval{
  width: 17%;
}
.mat-column-ammount{
  width: 17%;
}
.mat-column-expected{
  width: 17%;
}
.mat-column-error{
  width: 17%;
}
.mat-column-error-percentage{
  width: 16%;
}
.mat-column-goodnes-fit-test{
  width: 16%;
}
.table-ammounts::-webkit-scrollbar{
  background-color: white;
  width: 4px;
}
.table-ammounts::-webkit-scrollbar-thumb{
  background-color: black;
  width: 2px;
}
.analysis{
  width: 80%;
  margin: 0 auto;
  display: block;
}
