.header{
    background-color: #181818;
    color: white;
    height: 100vh;
}

.header h1{
    position: relative;
    display: inline-block;
    font-size: 24px;
    top: 20vh;
    left: 70vw;
    margin: 0;
}

@media (max-width: 1280px) {
    .header h1{
        left: 50vw;
    }
}

@media (max-width: 768px){
    .header h1{
        position: absolute;
        display: block;
        width: 100vw;
        text-align: center;
        margin: 150px auto;
        top: 0;
        left: 0;
    }
}