.header{
    /* background-color: #181818; */
    color: black;
    height: 100vh;
    background-image: url('../../../assets/header.svg');
    background-repeat: no-repeat;
    background-position: left;
  }

.header h1{
    position: relative;
    display: inline-block;
    font-size: 24px;
    top: 20vh;
    left: 65vw;
    margin: 0;
}

@media (max-width: 800px) {
  .header h1{
    position: absolute;
    display: block;
    width: 100vw;
    text-align: center;
    margin: 20px auto;
    top: 0;
    left: 0;
  }
  .header{
    background-size: cover;
    background-position: center;
  }
}
