::ng-deep.mat-dialog-container {
  padding: 0px !important;
}
.modal-header{
  color: black;
  font-weight: bold;
  font-size: 16px;
}
.modal-actions button{
  padding: 0px 26px;
  margin: 20px;
  border: 2px solid;
}
.modal-actions button:nth-child(1){
  border-color: #099b01;
}
.modal-actions button:nth-child(2){
  border-color: #f44336;
}
.modal-header .btn-close {
  padding: 1.4rem 0.5rem;
  margin: -22.5rem -0.5rem -0.5rem auto;
}
