/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";

body{
    margin: 0;
    padding: 0;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.bold{
    font-weight: bold;
}
.mat-card{
  box-shadow: 2px 2px 1px -1px rgb(0 0 0 / 20%), 1px 1px 1px 0px rgb(0 0 0 / 14%), 2px -2px 3px 0px rgb(0 0 0 / 12%) !important;
}


/*Icons */

.icon {
    padding: 20px;
    text-decoration: none;
}
.linkedin{
    background-image: url('./assets/LI-In-Bug.png');
    background-repeat: no-repeat;
    width: 50px;
    height: 50px;
    background-size: contain;
}

.github{
    background-image: url('./assets/GitHub-Mark-120px-plus.png');
    background-repeat: no-repeat;
    background-size: contain;
    width: 50px;
    height: 50px;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

/*Tablas */
.mat-cell{
  text-align: center;
}
.mat-header-cell{
  color: black;
  text-align: center !important;
  font-size: 13px;
  font-weight: bold;
}
